

.bg-top{

	background-color:#212121;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
    margin-bottom: 50px;
	
}

.bs-callout {
    border-color: #eee;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout-grid1 {
    border-left-color: #212121;
}

.bs-callout-grid2 {
    border-left-color: #00aa27;
}